/* Default theme (Light Mode) */
:root {
  --primary-color: #303846;
  --primary-color-dark: #2b3441;
  --primary-color-darker: #262f3c;
  --primary-color-darkest: #212a37;
  --primary-color-light: #353f4b;
  --primary-color-lighter: #3a4650;
  --primary-color-lightest: #3f4d55;
  --code-font-size: 95%;
  --highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #ffa500;
    --primary-color-dark: #cc8500;
    --primary-color-darker: #b27300;
    --primary-color-darkest: #996200;
    --primary-color-light: #ffae19;
    --primary-color-lighter: #ffb733;
    --primary-color-lightest: #ffc04d;
    --highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
    --background-color: #000000;
    --text-color: #ffffff;
  }
}
html, body {
  min-height: 100vh; /* Ensures the body takes up at least the full height of the viewport */
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
  font-family: Arial, sans-serif; /* Set your preferred font family */
  font-size: 1em; /* 1em = 16px here because of the base font size we set in html */
  line-height: 1.6; /* This is a common line-height value for readability */
  color: var(--text-color);
  background-color: var(--background-color);
  word-wrap: break-word;
}
* {
  box-sizing: border-box;
}

/* The Header */
header {
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(100px);
  align-items: center; /* This will vertically align the items in the center */
  padding: 1em; /* This will create some space around the items */ /* This sets the background color of the entire header */
  position: sticky;
  top: 0; /* Align the header with the top of the viewport */
  z-index: 100; /* Ensures the header stays on top of other elements */
  border-bottom: 1px solid var(--primary-color-lightest); /* Add bottom border */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}
.header-left, .header-right {
  display: flex;
  align-items: center;  /* This will vertically align the items in the center */
  gap: 10px; /* This will create a small space between each item */
}
.header-left span {
  font-size: 1em; /* Adjust as needed */
  font-weight: bold; /* Makes the text bold */
  color: var(--primary-color-light); /* Adjust color as needed */
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Optional: Adds a subtle shadow */
}
/* The Navigation */
.nav {
  position: absolute; /* Absolute positioning so it's positioned relative to the header */
  top: 100%; /* Positioned at the bottom of the header */
  left: 0;
  width: 100%; /* Full width */
  height: calc(100vh - 100%); 
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.nav ul {
  list-style: none; /* Removes the bullet points */
  padding: 0;
  margin: 0;
  display: flex; /* Items in a row */
  justify-content: center; /* Centers items horizontally */
  flex-direction: column; /* Items in a column */
}

.nav li {
  margin: 0.5em 0; /* Spacing between items */
}

.nav-open {
  transform: translateX(0);
}

.hamburger {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 2em; /* Adjust to suit your design */
  cursor: pointer;
}

/* On small screens, hide the navigation menu and show the hamburger button */
@media (max-width: 600px) {
  .header-center {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

/* On larger screens, show the navigation menu and hide the hamburger button */
@media (min-width: 601px) {
  .nav {
    position: relative; /* Relative positioning */
    transform: translateX(0);
    height: auto; /* Auto height so it takes up only as much space as it needs */
    width: auto; /* Auto width so it takes up only as much space as it needs */
    flex: 1; /* Take up the remaining space in the header */
  }
  .nav ul {
    flex-direction: row; /* Items in a row */
  }

  .nav li {
    margin: 0 0.5em; /* Spacing between items */
  }
  .nav ul a {
    color: var(--text-color);
    text-decoration: none; /* This removes the underline */
  }
  .header-center {
    display: block;
  }

  .hamburger {
    display: none;
  }
}